AuthenticationAdapter/RealMeAuthAdapter/Web References/RealMeService/RealMe.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="getLoginURL">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="state" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="returnURL" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getLoginURLResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getLoginURLResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="validateLogin">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ipAddress" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userAgent" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SAMLart" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="RelayState" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SigAlg" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Signature" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="validateLoginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="validateLoginResult" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="statusCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="resultMessage" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="securityToken" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="isAssociatedWithUser" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="getLoginURLSoapIn">
    <wsdl:part name="parameters" element="tns:getLoginURL" />
  </wsdl:message>
  <wsdl:message name="getLoginURLSoapOut">
    <wsdl:part name="parameters" element="tns:getLoginURLResponse" />
  </wsdl:message>
  <wsdl:message name="validateLoginSoapIn">
    <wsdl:part name="parameters" element="tns:validateLogin" />
  </wsdl:message>
  <wsdl:message name="validateLoginSoapOut">
    <wsdl:part name="parameters" element="tns:validateLoginResponse" />
  </wsdl:message>
  <wsdl:portType name="RealMeSoap">
    <wsdl:operation name="getLoginURL">
      <wsdl:input message="tns:getLoginURLSoapIn" />
      <wsdl:output message="tns:getLoginURLSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="validateLogin">
      <wsdl:input message="tns:validateLoginSoapIn" />
      <wsdl:output message="tns:validateLoginSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="RealMeSoap" type="tns:RealMeSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getLoginURL">
      <soap:operation soapAction="http://tempuri.org/getLoginURL" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="validateLogin">
      <soap:operation soapAction="http://tempuri.org/validateLogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="RealMeSoap12" type="tns:RealMeSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getLoginURL">
      <soap12:operation soapAction="http://tempuri.org/getLoginURL" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="validateLogin">
      <soap12:operation soapAction="http://tempuri.org/validateLogin" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RealMe">
    <wsdl:port name="RealMeSoap" binding="tns:RealMeSoap">
      <soap:address location="http://joy-duan.achievo.com/RealMe.asmx" />
    </wsdl:port>
    <wsdl:port name="RealMeSoap12" binding="tns:RealMeSoap12">
      <soap12:address location="http://joy-duan.achievo.com/RealMe.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>